{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <main class="pages">

        <div class="container align-items-center w-75 p-2">
            <a href="{{ app.request.headers.get('referer') ?: 'http://127.0.0.1:3000/home' }}" class="link-orange h5">
                ← Revenir à la page précédente
            </a>
        </div>

        <div class="container wrapper-beige align-items-center w-75">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <img src="/media/icons/ns_mascotte.png" class="decoTitreShake"/>
                <h1>Bienvenue {{user.firstName}}!</h1>
                <img src="/media/icons/ns_mascotte.png" class="decoTitreShake"/>
            </div>


            <div class=" d-flex flex-column justify-content-center align-items-center">
                <a class="button-style" href="https://www.ticketmaster.fr/fr">Réserver mes billets</a>
                <a class="button-style" href="{{path("app_user_edit", {'id' : user.id })}}">Modifier les données de mon compte</a>
                <a class="button-style" href="{{path("app_user_editmdp", {'id' : user.id })}}">Modifier mon mot de passe</a>
            </div>
        </div>
    </main>   
{% endblock %}
