{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <main class="pages">

        <div class="container align-items-center w-75 p-2">
            <a href="{{ app.request.headers.get('referer') ?: 'http://127.0.0.1:3000/home' }}" class="link-orange h5">
                ← Revenir à la page précédente
            </a>
        </div>
        
        {% for message in app.flashes('success')%}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        <div class="container wrapper-beige align-items-center w-75">

            <div class="d-flex flex-row justify-content-center align-items-center">
                <img src="/media/icons/megaphone.png" class="decoTitreShake"/>
                <h1>Formulaire de contact</h1>
                <img src="/media/icons/megaphone.png" class="decoTitreShake"/>
            </div>
            
            {{form(form)}}
            
        </div>
    </main>
    
{% endblock %}
