{% extends 'base.html.twig' %}

{% block title %}Accueil - Nation Sounds Festival{% endblock %}

{% block body %}
        <main class="pages container wrapper">
                <h1>Mentions Légales</h1>
                <p>Dernière mise à jour : 16/01/25</p>

                <h2>Éditeur du site :</h2>
                <p>Le site Nation Sounds 2024 (projet fictif) est édité par :</p>

                <p><strong>Nom ou Raison sociale :</strong> Miette
                <strong>Forme juridique :</strong> Auto-entrepreneur
                <strong>Adresse du siège social :</strong> 52 rue des Rhododendrons
                <strong>Numéro de SIRET ou RCS :</strong> 224466
                <strong>Adresse e-mail :</strong> miette@mail.com
                <strong>Numéro de téléphone :</strong> 02 24 42 62 46</p>

                <h2>Hébergeur du site :</h2>
                <p>Le site est hébergé par :

                <strong>Nom :</strong> Ionos
                <strong>Adresse :</strong>
                <strong>Téléphone :</strong> </p>

                <h2>Responsable de la publication :</h2>
                <p> Responsable de la publication: Miette</p>

                <h2>Propriété intellectuelle :</h2>
                <p>Tous les contenus présents sur le site Nation Sounds 2024 (textes, images, vidéos, graphismes, logos, etc.) sont protégés par les lois relatives à la propriété intellectuelle.
                Toute reproduction, distribution, modification ou utilisation, même partielle, sans autorisation écrite préalable est interdite.</p>

                <h2>Gestion des données personnelles :</h2>
                <p>Conformément au Règlement Général sur la Protection des Données (RGPD), voici les informations concernant la gestion des données personnelles :

                <strong>Données collectées :</strong> Nom, e-mail
                <strong>Finalité :</strong> [Expliquer pourquoi vous collectez ces données, ex. pour répondre aux demandes des utilisateurs, améliorer le site, etc.]
                <strong>Durée de conservation :</strong>
                <strong>Droits des utilisateurs :</strong> Vous disposez d’un droit d’accès, de rectification, de suppression ou d’opposition concernant vos données personnelles.
                <strong>Pour exercer ces droits, contactez-nous à :</strong> nation-sounds@mail.com</p>

                <h2>Cookies :</h2>
                <p>Le site utilise des cookies pour améliorer l’expérience utilisateur et analyser le trafic.
                Vous pouvez gérer vos préférences ou désactiver les cookies en cliquant sur [Lien vers la gestion des cookies].</p>

                <h2>Limitation de responsabilité :</h2>
                <p>Le site Nation Sounds 2024 s’efforce de fournir des informations à jour et exactes. Toutefois, nous ne saurions être tenus responsables des erreurs ou omissions.</p>

                <h2>Conditions d’utilisation :</h2>
                <p>L’utilisation du site implique l’acceptation pleine et entière des présentes mentions légales et des conditions d’utilisation.</p>
        </main>
{% endblock %}
