{% extends 'base.html.twig' %}

{% block title %}Accueil - Nation Sounds Festival{% endblock %}

{% block body %}
        <main class="pages container wrapper ">

            <h1>Politique de Confidentialité</h1>

            <p>Dernière mise à jour : 18/02/2025</p>

            <p>Votre confidentialité est importante pour nous. Cette politique de confidentialité explique
            comment nous collectons, utilisons et protégeons vos informations personnelles lorsque vous utilisez notre site.</p>

            <h2>1. Données collectées</h2>

            <p>Lorsque vous vous inscrivez sur notre site, nous collectons les informations suivantes :<br>

            Nom et prénom<br>

            Adresse e-mail</p>

            <h2>2. Utilisation des données</h2>

            <p><strong>Nous utilisons ces informations pour :</strong><br>

            Gérer votre inscription et votre compte utilisateur<br>

            Vous envoyer des communications importantes concernant le site<br>

            Améliorer nos services et votre expérience utilisateur</p>

            <h2>3. Partage des données</h2>

            <p><strong>Nous ne vendons ni ne louons vos informations personnelles à des tiers. Vos données peuvent être partagées
            uniquement dans les cas suivants :</strong><br>

            Si requis par la loi ou une autorité judiciaire<br>

            Avec des prestataires de services qui nous aident à gérer le site, sous réserve de confidentialité</p>

            <h2>4. Sécurité des données</h2>

            <p>Nous mettons en place des mesures de sécurité adaptées pour protéger vos informations contre
            l’accès non autorisé, l’altération ou la divulgation.</p>

            <h2>5. Vos droits</h2>

            <p><strong>Vous avez le droit de :</strong><br>

            Accéder à vos données personnelles<br>

            Demander la modification ou la suppression de vos informations<br>

            Retirer votre consentement à tout moment<br>

            Pour exercer vos droits ou poser des questions, contactez-nous à : nation-sounds@mail.com</p>

            <h2>6. Modifications de la politique</h2>

            <p>Nous pouvons mettre à jour cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page avec la date de mise à jour.

            En vous inscrivant sur notre site, vous acceptez cette politique de confidentialité.</p>

    </main>
{% endblock %}
